[user]
	email = josh.reichardt@gmail.com
	name = Josh Reichardt
    signingkey = 2AF2A2053D553C2FAE789DD6A9752A813F1EF110

[fetch]
	prune = true

[push]
	default = simple

[gpg]
	program = gpg2

; Auto-sign all commits globally
[commit]
	gpgsign = true

;[credential]
;    helper = osxkeychain

; [core]
;     pager = delta

; [interactive]
;     diffFilter = delta --color-only

; [delta]
;     features = side-by-side line-numbers decorations
;     whitespace-error-style = 22 reverse
;     syntax-theme = 1337

; [delta "decorations"]
;     commit-decoration-style = bold yellow box ul
;     file-style = bold yellow ul
;     file-decoration-style = none
